{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
  {% load socialaccount %}
  <div class="loginBanner">
    <a href="/"><img src="{% static 'images/banner.png' %}"/></a>
  </div>
  <div id="logo_wrapper">
    <a href="{% provider_login_url "google" %}"><img src="{% static 'images/google_login.png' %}" class=imageFormat /></a>
    <a href="{% provider_login_url "facebook" method="oauth2" %}"><img src="{% static 'images/fb_login.png' %}" class=imageFormat /></a>
    <a href="{% provider_login_url "twitter" %}"><img src="{% static 'images/twitter_login.png' %}" class=imageFormat /></a>
  </div>
  <div class="inset">
    <div class="header">Or sign in directly</div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
        <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
        <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
        <div class="remember-forgot-section">
          <input id="id_remember" name="remember" type="checkbox" />
            <label for="id_remember">Remember Me</label><br>
            <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn" type="submit">{% trans "Sign In" %}</button>
    </form>

    <div class="footnote">
      Don't have an account?<br><a href="{% url 'account_signup' %}">Sign Up</a>
    </div>
  </div>
{% endblock %}
