html, body, #map {
        height: 480px;
	width: 100%;
        margin: 0px;
        padding: 0px

      }
body {
	background-color: #c8c8c8;
}      

.content{
font: 15px arial, sans-serif;
	color: #48281c;
}

select{
	font: 15px arial, sans-serif;
	color: #48281c;
}

button{
	font: 15px arial, sans-serif;
	color: #48281c;
}

a:link{
	font: 15px arial, sans-serif;
	color: #48281c;
	text-decoration: none;
	font-weight: bold;
}
a:visited{
	font: 15px arial, sans-serif;
	color: #48281c;
	text-decoration: none;
	font-weight: bold;
}
a:active{
	font: 15px arial, sans-serif;
	color: #48281c;
	text-decoration: none;
	font-weight: bold;
}
a:hover{
	font: 15px arial, sans-serif;
	color: #5b5b5b;
	text-decoration: none;
	font-weight: bold;

