<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
		<script src="{% static 'googlemap.js' %}"></script>
		<div id="banner"><img src="{% static 'images/banner.jpg' %}"></div>
		<div id="login">
			{% block body %}
			{% load socialaccount %}
			{% if user.is_authenticated %}
				<div class="btn"><a href="{% url 'account_logout' %}">Sign Out</a></div>
			{% else %}
				<div class="btn"><a href="{% url 'account_login' %}">Sign In</a></div>
				<div class="btn"><a href="{% url 'account_signup' %}">Sign Up</a></div>
				<div class="btn"><a href="{% provider_login_url "google" %}">Google</a></div>
				<div class="btn"><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook</a></div>
			{% endif %}
			{% endblock %}
		</div>
		</div>
		
	</head>
	
	<body bgcolor="#11bc78">
		<table height="100%" width="100%" border="0">
		<tr>
		</tr>
		  <tr>
			<td valign="top" align="center">
		 <div id="map"></div>
		  </td>
		  </tr>
		</table>
		
	</body>
	
</html>